<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="css/chatroom.css">
<script src="js/jquery-2.2.0.js"></script>
<script src="js/chatroom.js"></script>
<title>Global Chat</title>

</head>

<body>
<h2>Welcome to GlobalChat</h2>

<div id="chatBox">
#parse( "templates/message_template.vm" )
</div>

<form action="/" method="post">
	Author:
	<input type="text" name="author"></br>
	Message:</br>
	<input type="text" name="text"></br>
	<input type="submit" value="Post">
</form>
</body>

<script>
scrollToBottom();
poll();
</script>

</html>