#foreach ($message in $messages)
    <div class="message">
    <input type="hidden" id="lastUpdate" value="$message.getSubmitTime()">
    	<p>
		<b>$message.getAuthor()</b></br>
		$message.getContent()
		</p>
	</div>
#end